@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Montserrat;
}

ul,
ol,
form {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
link,
a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.green {
  color: green;
}
.red {
  color: red;
}
