.f-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-c-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.f-c-l {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.f-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-co-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-co-c-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-co-l-sa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.f-co-c-sa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.f-co-c-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fw {
  flex-wrap: wrap;
}

.as-c {
  align-self: center;
}
.as-fs {
  align-self: flex-start;
}

.js-c {
  justify-self: center;
}

.i {
  display: inline;
}

.if {
  display: inline-flex;
}

.ib {
  display: inline-block;
}

.flo-r {
  float: right;
}

.flo-l {
  float: left;
}

.a-b-l {
  position: absolute;
  bottom: 0;
  left: 0;
}

.a-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.a-t-l {
  position: absolute;
  top: 0;
  left: 0;
}

.fix-b-l {
  position: fixed;
  bottom: 0;
  left: 0;
}

.fix-c {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
