.btn-cta {
  border: none;
  color: white;
  background-color: $secondary;
  height: 3rem;
  width: 10rem;
}
.btn {
  background-color: blue;
  color: white;
}
.btn-green {
  background-color: green;
  color: white;
}
