.btn-cta {
  border: none;
  color: white;
  background-color: $secondary;
  height: 3rem;
  width: 10rem;
}
.btn,
.btn-long {
  border: none;
  color: white;
  height: 3rem;
  width: 12rem;
  border-radius: 20px;
  cursor: pointer;
  &-long {
    width: 20rem;
    height: 3rem;
  }
}

.btn-blue {
  background-color: blue;
}
.btn-green {
  background-color: green;
}
.btn-red {
  background-color: $secondary;
}
.btn-black {
  background-color: black;
}

@media screen and (min-width: 700px) {
  .btn {
    height: 5rem;
    width: 18rem;
    font-size: 1.6rem;
  }
}
