.btn-cta {
  border: none;
  color: white;
  background-color: $secondary;
  height: 3rem;
  width: 10rem;
}
.btn,
.btn-long {
  border: none;
  color: white;
  height: 4rem;
  width: 7rem;
  border-radius: 4px;
  &-long {
    width: 20rem;
    height: 3rem;
  }
}

.btn-blue {
  background-color: blue;
}
.btn-green {
  background-color: green;
}
.btn-red {
  background-color: red;
}
.btn-black {
  background-color: black;
}
