.contact {
  width: 80%;
  margin: auto;
  height: 72vh;
  &-heading {
    text-align: center;
  }
  &-form {
    width: 100%;
    height: 70%;
    flex-wrap: wrap;

    &-submit {
      width: 50%;
      height: 3rem;
      margin-bottom: 1rem;
    }
    &-name,
    &-address,
    &-email,
    &-phone {
      width: 100%;
      height: 3rem;
      margin-bottom: 1rem;
    }
    &-message {
      height: 10rem;
      width: 100%;
      margin-bottom: 1rem;
    }
    &-submit {
      text-align: center;
    }
  }
}
