.footer {
  height: 20vh;
  width: 100%;
  padding: 1rem;
  background-color: $greybox;
  color: white;
  &-container {
    width: 100%;
  }
  &-circles {
    height: 100%;
    color: white;
  }
  &-img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-image: url("../../images/BR-Logo.svg");
    background-size: 5.3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    cursor: pointer;
  }
  &-media {
    height: 2rem;
    width: 2rem;
    color: white;
  }
}

.media-icons {
  height: 3rem;
  width: 9rem;
  padding: 0.2rem;
}

.icons {
  &--tw,
  &--fb,
  &--ig {
    fill: white;
    color: white;
  }
}

.links-container {
  height: 100%;
  width: 50%;
}
.link {
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  &-btn {
    border: none;
    background: transparent;
    height: 3rem;
    width: 7.5rem;
  }
}
