.nav {
  height: 8vh;
  width: 100%;
  background-color: $primary;
  padding: 2rem;
  &-icon {
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.3rem;
      background-color: white;
      display: inline-block;
    }
    &::before {
      content: "";
      position: absolute;
      top: -0.8rem;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0.8rem;
    }
  }
}
.logo {
  height: 4rem;
  width: 4rem;
  background-image: url("../../images/BR-LogoINV.svg");
  background-size: 3.5rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.menu {
  position: relative;
  height: 3rem;
  width: 3rem;
  &-list {
    // visibility: hidden;
    // opacity: 0;
    position: absolute;
    top: 4.2rem;
    left: 0;
    height: 23rem;
    width: 100%;
    text-align: center;
    color: white;
    background-color: $primary;
    z-index: 100;
    &-item {
      text-align: center;
      width: 100%;
      font-size: 1.8rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.582);
      &:not(first-child) {
        margin-top: 1rem;
      }
    }
  }
}

// .isOpen {
//   visibility: visible;
//   opacity: 1;
//   transition: 0.3s;
//   z-index: 100;
// }
