.store {
  width: 100%;
  margin-bottom: 20vh;
  &-search,
  &-page {
    height: 15vh;
    background-color: $greybox;
  }
}

.store-item {
  height: 12.5rem;
  width: 30%;
  background-color: $greybox;
  margin: 0.5rem;
  &-container {
    background-color: white;
    height: 75%;
    width: 100%;
    margin: auto;
    margin-top: 0;
  }
  &-image {
    height: 100%;
    width: 100%;
  }
  &-desc {
    background-color: black;
  }
}
