.store {
  width: 100%;
  &-search,
  &-page {
    height: 15vh;
  }
  &-items {
    width: 100%;
  }
}

.store-item {
  position: relative;
  margin-bottom: 2rem;
  width: 48%;
  &-container {
    width: 100%;
    margin: auto;
    margin-top: 0;
  }
  &-details,
  &-stock,
  &-price {
    width: 100%;
    padding-top: 1rem;
  }
  &-details {
    padding-left: 1.5rem;
  }
  &-name {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  &-stock {
    padding-bottom: 1rem;
  }
  &-price {
    font-size: 1.2rem;
  }
  &-buy,
  &-info {
    border: none;
    background-color: $primary;
    color: white;
    margin-top: 0.5rem;
    height: 100%;
    width: 48%;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  &-btns {
    margin: auto;
  }
}

.category-link {
  text-transform: capitalize;
}
