.detail {
  padding-top: 2rem;
  background-color: white;
  width: 100vw;
  height: 100vh;
  &-img {
    padding: 1rem 0 1rem 0;
  }
  &-text {
    width: 100%;
  }
  &-series {
    padding: 1rem 0 1rem 0;
  }
  &-desc {
    font-size: 1.2rem;
    text-align: left;
    width: 20rem;
  }
  &-info {
    margin-left: 2rem;
  }
  &-prices {
    margin: 1rem 0 1rem 2rem;
  }
  &-btns {
    height: 12rem;
  }
  .dollar {
    font-size: 2rem;
  }
}

.inquiry {
  height: 72vh;
}
