.store {
  width: 100%;
  &-search,
  &-page {
    height: 15vh;
  }
}

.store-item {
  height: 70vh;
  width: 45%;
  margin: 0.5rem;
  position: relative;
  &-container {
    height: 70%;
    width: 100%;
    margin: auto;
    margin-top: 0;
  }
  &-image {
    height: 100%;
    width: 100%;
  }
  &-details {
    width: 100%;
    height: 30%;
  }
  &-name {
    font-size: 1.5rem;
  }
  &-stock {
    width: 100%;
  }
  &-price {
    font-size: 1.2rem;
  }
  &-btns {
    width: 100%;
    height: 30%;
  }
  &-buy,
  &-info {
    border: none;
    background-color: $primary;
    color: white;
    margin-top: 0.5rem;
    height: 100%;
    width: 48%;
    border-radius: 0.4rem;
    cursor: pointer;
  }
}
